@import "tailwindcss";
@plugin "daisyui";

@import "./styles/fonts.css";
@import "./styles/typography.css";

body {
  @apply bg-[url('./assets/bg3.jpg')] bg-cover bg-center bg-no-repeat;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  overflow-y: hidden;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-small);
  line-height: 1.6;
}
label{
   font-family: "Poppins", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.6;
}




/* fonts-tips {
  --fs-body: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);       16 -> 18 
  --fs-small: clamp(0.875rem, 0.84rem + 0.15vw, 1rem);     14 -> 16 
  --fs-h3: clamp(1.25rem, 1.1rem + 0.7vw, 1.75rem);         20 -> 28 
  --fs-h2: clamp(1.5rem, 1.2rem + 1vw, 2rem);               24 -> 32 
  --fs-hero: clamp(2rem, 1.2rem + 3vw, 3.125rem);           32 -> 50 
} */

