
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font-sacramento {
  font-family: "Sacramento", sans-serif;
  font-weight: 400;
}

.font-varela-round {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}